In [3]:
%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..', 'bball_code'))
if module_path not in sys.path:
    sys.path.append(module_path)
sys.path.append('/Users/drewadamski/Desktop/capstone-one-master/Update/Data')

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
advanced = pd.read_csv(sys.path[-1]+'/super_advanced.csv', index_col=0)
all_season = pd.read_csv(sys.path[-1]+'/all_season.csv', index_col=0)

In [6]:
advanced.shape, all_season.shape

((14760, 58), (11583, 34))

In [7]:
allseason = all_season[all_season.Season > 1999].copy()
advanced = advanced[advanced.Season > 1999].copy()

In [8]:
allseason.shape, advanced.shape

((11583, 34), (11583, 58))

In [9]:
allstar_next = pd.DataFrame()
for player in all_season.Player.unique():
    playdf = all_season[all_season.Player == player]
    playallstar_next = playdf.allstar[1:]
    playallstar_next = pd.concat([playallstar_next, pd.Series([0])])
    playallstar_next.index = playdf.index
    allstar_next = pd.concat([allstar_next, playallstar_next])
allseason['allstar_next'] = allstar_next

In [10]:
# all_no_19 = all_season[all_season.Season != 2019]
# adv_no_19 = advanced[advanced.Season != 2019]

# all_19 = all_season[all_season.Season == 2019]
# adv_19 = advanced[advanced.Season == 2019]

In [11]:
allseason.shape, advanced.shape

((11583, 35), (11583, 58))

In [12]:
df = pd.merge(allseason, advanced, 
              on=['href','Season', 'Tm', 'Player', 'Lg', 'Age', 'Pos'],
              suffixes=('_pg', '_sup')
             )

In [13]:
def column_check(df):
    for col in df:
        for col2 in df:
            if (col.split('_')[0] == col2.split('_')[0]) & (col != col2):
                yield [col, col2]

In [14]:
x = column_check(df)

In [15]:
# # went through to check which columns were the same
# test_cols = ['Season', 'Player', 'Tm', 'Lg']+ next(x)

# df[test_cols].head(20)

In [16]:
drop_cols = ['G_per100', 'G_adv', 'GS_sup', 'MP_per100', 
             'FG%_sup', '3P%_pg', '2P%_pg', 'FT%_pg',
             '_per100', '_adv', '_adv.1'
            ]

In [17]:
df.drop(labels=drop_cols, axis=1, inplace=True)

In [18]:
df.reset_index(drop=True, inplace=True)
df.fillna(0, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11583 entries, 0 to 11582
Data columns (total 75 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Season        11583 non-null  int64
 1   Age           11583 non-null  float64
 2   Tm            11583 non-null  object
 3   Lg            11583 non-null  object
 4   Pos           11583 non-null  object
 5   G             11583 non-null  float64
 6   GS_pg         11583 non-null  float64
 7   MP            11583 non-null  float64
 8   FG_pg         11583 non-null  float64
 9   FGA_pg        11583 non-null  float64
 10  FG%_pg        11583 non-null  float64
 11  3P_pg         11583 non-null  float64
 12  3PA_pg        11583 non-null  float64
 13  2P_pg         11583 non-null  float64
 14  2PA_pg        11583 non-null  float64
 15  eFG%          11583 non-null  float64
 16  FT_pg         11583 non-null  float64
 17  FTA_pg        11583 non-null  float64
 18  ORB_pg        11583 non-null  float64
 19  DRB_pg        11583 non-null  float64
 20  TRB_pg        11583 non-null  float64
 21  AST_pg        11583 non-null  float64
 22  STL_pg        11583 non-null  float64
 23  BLK_pg        11583 non-null  float64
 24  TOV_pg        11583 non-null  float64
 25  PF_pg         11583 non-null  float64
 26  PTS_pg        11583 non-null  float64
 27  Height        11583 non-null  int64
 28  href          11583 non-null  object
 29  Player        11583 non-null  object
 30  allstar       11583 non-null  int64
 31  allstar_next  11583 non-null  float64
 32  FG_sup        11583 non-null  float64
 33  FGA_sup       11583 non-null  float64
 34  3P_sup        11583 non-null  float64
 35  3PA_sup       11583 non-null  float64
 36  3P%_sup       11583 non-null  float64
 37  2P_sup        11583 non-null  float64
 38  2PA_sup       11583 non-null  float64
 39  2P%_sup       11583 non-null  float64
 40  FT_sup        11583 non-null  float64
 41  FTA_sup       11583 non-null  float64
 42  FT%_sup       11583 non-null  float64
 43  ORB_sup       11583 non-null  float64
 44  DRB_sup       11583 non-null  float64
 45  TRB_sup       11583 non-null  float64
 46  AST_sup       11583 non-null  float64
 47  STL_sup       11583 non-null  float64
 48  BLK_sup       11583 non-null  float64
 49  TOV_sup       11583 non-null  float64
 50  PF_sup        11583 non-null  float64
 51  PTS_sup       11583 non-null  float64
 52  ORtg          11583 non-null  float64
 53  DRtg          11583 non-null  float64
 54  MP_adv        11583 non-null  int64
 55  PER           11583 non-null  float64
 56  TS%           11583 non-null  float64
 57  3PAr          11583 non-null  float64
 58  FTr           11583 non-null  float64
 59  ORB%          11583 non-null  float64
 60  DRB%          11583 non-null  float64
 61  TRB%          11583 non-null  float64
 62  AST%          11583 non-null  float64
 63  STL%          11583 non-null  float64
 64  BLK%          11583 non-null  float64
 65  TOV%          11583 non-null  float64
 66  USG%          11583 non-null  float64
 67  OWS           11583 non-null  float64
 68  DWS           11583 non-null  float64
 69  WS            11583 non-null  float64
 70  WS/48         11583 non-null  float64
 71  OBPM          11583 non-null  float64
 72  DBPM          11583 non-null  float64
 73  BPM           11583 non-null  float64
 74  VORP          11583 non-null  float64
dtypes: float64(66), int64(4), object(5)
memory usage: 6.6+ MB

In [20]:
df.describe()

,Season,Age,G,GS_pg,MP,FG_pg,FGA_pg,FG%_pg,3P_pg,3PA_pg,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,...,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000
mean,2009.800397,26.750065,47.019425,22.305707,19.786774,2.944867,6.629984,0.430306,0.581818,1.671709,...,13.985021,18.593965,1.165985,1.099370,2.266373,0.067948,-1.723215,-0.218665,-1.941967,0.527238
std,5.714276,4.244019,26.104142,27.479464,9.919723,2.123137,4.526614,0.105646,0.683252,1.798888,...,6.844529,5.439832,1.936975,1.146803,2.811712,0.104881,10.199959,1.841053,10.642305,1.241201
min,2000.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-3.300000,-0.600000,-2.100000,-1.521000,-1000.000000,-31.100000,-1000.000000,-2.000000
25%,2005.000000,23.000000,24.000000,0.000000,11.700000,1.300000,3.100000,0.393000,0.000000,0.100000,...,10.500000,15.000000,0.000000,0.200000,0.200000,0.032000,-3.300000,-1.050000,-3.600000,-0.100000
50%,2010.000000,26.000000,51.000000,8.000000,19.100000,2.400000,5.500000,0.434000,0.300000,1.100000,...,13.200000,18.200000,0.400000,0.700000,1.300000,0.077000,-1.400000,-0.200000,-1.500000,0.100000
75%,2015.000000,30.000000,72.000000,41.000000,27.800000,4.100000,9.200000,0.478000,1.000000,2.800000,...,16.400000,21.900000,1.800000,1.600000,3.500000,0.117000,0.300000,0.700000,0.400000,0.800000
max,2019.000000,44.000000,85.000000,83.000000,43.700000,12.200000,27.800000,1.000000,5.100000,13.200000,...,100.000000,53.700000,14.800000,9.100000,20.300000,2.712000,199.400000,42.700000,242.200000,11.800000

In [21]:
df.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS_pg', 'MP', 'FG_pg',
       'FGA_pg', 'FG%_pg', '3P_pg', '3PA_pg', '2P_pg', '2PA_pg', 'eFG%',
       'FT_pg', 'FTA_pg', 'ORB_pg', 'DRB_pg', 'TRB_pg', 'AST_pg', 'STL_pg',
       'BLK_pg', 'TOV_pg', 'PF_pg', 'PTS_pg', 'Height', 'href', 'Player',
       'allstar', 'allstar_next', 'FG_sup', 'FGA_sup', '3P_sup', '3PA_sup',
       '3P%_sup', '2P_sup', '2PA_sup', '2P%_sup', 'FT_sup', 'FTA_sup',
       'FT%_sup', 'ORB_sup', 'DRB_sup', 'TRB_sup', 'AST_sup', 'STL_sup',
       'BLK_sup', 'TOV_sup', 'PF_sup', 'PTS_sup', 'ORtg', 'DRtg', 'MP_adv',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP'],
      dtype='object')

In [22]:
df.columns = map(str.lower, df.columns)

In [23]:
df.columns

Index(['season', 'age', 'tm', 'lg', 'pos', 'g', 'gs_pg', 'mp', 'fg_pg',
       'fga_pg', 'fg%_pg', '3p_pg', '3pa_pg', '2p_pg', '2pa_pg', 'efg%',
       'ft_pg', 'fta_pg', 'orb_pg', 'drb_pg', 'trb_pg', 'ast_pg', 'stl_pg',
       'blk_pg', 'tov_pg', 'pf_pg', 'pts_pg', 'height', 'href', 'player',
       'allstar', 'allstar_next', 'fg_sup', 'fga_sup', '3p_sup', '3pa_sup',
       '3p%_sup', '2p_sup', '2pa_sup', '2p%_sup', 'ft_sup', 'fta_sup',
       'ft%_sup', 'orb_sup', 'drb_sup', 'trb_sup', 'ast_sup', 'stl_sup',
       'blk_sup', 'tov_sup', 'pf_sup', 'pts_sup', 'ortg', 'drtg', 'mp_adv',
       'per', 'ts%', '3par', 'ftr', 'orb%', 'drb%', 'trb%', 'ast%', 'stl%',
       'blk%', 'tov%', 'usg%', 'ows', 'dws', 'ws', 'ws/48', 'obpm', 'dbpm',
       'bpm', 'vorp'],
      dtype='object')

In [24]:
rename_cols = {'fg_sup':'fg_100', 
               'fga_sup':'fg_att_100',
               'fg%_pg':'fg_pct', 
               'mp_adv':'mp_tot',
               'mp':'mp_pg',
               'gs_pg':'gs',
               '3p_pg':'three_pg',
               '3p_sup':'three_100',
               '3pa_pg':'three_att_pg',
               '3pa_sup':'three_att_100',
               '3p%_sup':'three_pct',
               '2p_pg':'two_pg', 
               '2p_sup':'two_100',
               '2pa_pg':'two_att_pg', 
               'efg%':'efg_pct',
               '2pa_sup':'two_att_100',
               '2p%_sup':'two_pct', 
               'ft_sup':'ft_100',
               'fta_pg':'ft_att_pg', 
               'fta_sup':'ft_att_100',
               'ft%_sup':'ft_pct', 
               'orb_sup':'orb_100',
               'drb_sup':'drb_100', 
               'trb_sup':'trb_100',
               'ast_sup':'ast_100', 
               'stl_sup':'stl_100',
               'blk_sup':'blk_100', 
               'tov_sup':'tov_100',
               'pf_sup':'pf_100', 
               'pts_sup':'pts_100',
               'ts%':'ts_pct',
               '3par':'three_rate',
               'ftr':'ft_rate',
               'orb%':'orb_pct',
               'drb%':'drb_pct',
               'trb%':'trb_pct',
               'ast%':'ast_pct',
               'stl%':'stl_pct',
               'blk%':'blk_pct',
               'tov%':'tov_pct',
               'usg%':'usg_pct',
               'ws/48':'ws_48',
              }

In [25]:
df.rename(columns=rename_cols, 
          inplace=True
         )

In [26]:
df.columns

Index(['season', 'age', 'tm', 'lg', 'pos', 'g', 'gs', 'mp_pg', 'fg_pg',
       'fga_pg', 'fg_pct', 'three_pg', 'three_att_pg', 'two_pg', 'two_att_pg',
       'efg_pct', 'ft_pg', 'ft_att_pg', 'orb_pg', 'drb_pg', 'trb_pg', 'ast_pg',
       'stl_pg', 'blk_pg', 'tov_pg', 'pf_pg', 'pts_pg', 'height', 'href',
       'player', 'allstar', 'allstar_next', 'fg_100', 'fg_att_100',
       'three_100', 'three_att_100', 'three_pct', 'two_100', 'two_att_100',
       'two_pct', 'ft_100', 'ft_att_100', 'ft_pct', 'orb_100', 'drb_100',
       'trb_100', 'ast_100', 'stl_100', 'blk_100', 'tov_100', 'pf_100',
       'pts_100', 'ortg', 'drtg', 'mp_tot', 'per', 'ts_pct', 'three_rate',
       'ft_rate', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct',
       'blk_pct', 'tov_pct', 'usg_pct', 'ows', 'dws', 'ws', 'ws_48', 'obpm',
       'dbpm', 'bpm', 'vorp'],
      dtype='object')

In [27]:
traded = df[(df.duplicated(['season', 'href'],
                              keep=False)
         )
        ][df[(df.duplicated(['season', 'href'],
                                          keep=False)
                     )
                    ].tm != 'TOT'].index

In [28]:
df.shape

(11583, 75)

In [29]:
df.drop(labels=traded, inplace=True)

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
df.shape

(9273, 75)

In [32]:
pos_dict = {'SG-PG':'PG-SG',
            'SF-SG':'SG-SF',
            'PF-SF':'SF-PF',
            'C-PF':'PF-C'
           }
df.replace({'pos':pos_dict}, inplace=True)

In [33]:
df.pos.unique()

array(['C', 'PF', 'PF-C', 'SF', 'PG', 'SG', 'SG-SF', 'SG-PF', 'SF-PF',
       'PG-SG', 'PG-SF'], dtype=object)

In [35]:
df.to_csv(sys.path[-1]+'/cleaned_data.csv')