In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..', 'bball_code'))
if module_path not in sys.path:
    sys.path.append(module_path)
sys.path.append('/Users/drewadamski/Desktop/capstone-one-master/Update/Data')

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request

In [3]:
with open(sys.path[-1]+'/players.txt') as f:
    mylist = [tuple(map(str, i.split(','))) for i in f]
player_list = [(i[0].strip("'('"), i[1].strip(" )\n'")) for i in mylist]

In [4]:
all_season_df = pd.read_csv(sys.path[-1]+'/all_season.csv', index_col='Unnamed: 0')

In [5]:
all_season_df.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Height',
       'href', 'Player', 'allstar'],
      dtype='object')

In [6]:
range(2000,2005)

range(2000, 2005)

In [58]:
%%time
allstars = []
for year in range(2001, 2020):
    site = 'https://www.basketball-reference.com/allstar/NBA_' + str(year) + '.html'
    page= urllib.request.urlopen(site)
    soup = BeautifulSoup(page, 'lxml')
    if year == 2019:
        for i in soup.find('table', {"id":'Giannis'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))
        for i in soup.find('table', {"id":'LeBron'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))
    elif year == 2018:
        for i in soup.find('table', {"id":'Stephen'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))
        for i in soup.find('table', {"id":'LeBron'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))
    else:
        for i in soup.find('table', {"id":'East'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))
        for i in soup.find('table', {"id":'West'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year-1, i['href']))

CPU times: user 1.33 s, sys: 53 ms, total: 1.39 s
Wall time: 5.28 s

In [59]:
all_season_df['allstar'] = 0

In [60]:
# iterate through allstar_set 
for allstar in allstars:
    all_season_df.loc[(all_season_df.Season==allstar[0]) & (all_season_df.href==allstar[1]), 'allstar'] = 1

In [61]:
all_season_df.shape[0] == all_season_df.shape[0]

True

Manually fixing players who did not play in game due to injury but were selected

Fixed:
    
    2000: Theo Ratliff, Alonzo Mourning, Shaquille O'Neal, Grant Hill
    2001: Karl Malone, Vince Carter
    2002: Chris Webber
    2003
    2004
    2005: Jermaine O'Neal
    2006: Jason Kidd, Carlos Boozer, Allen Iverson, Yao Ming, Steve Nash
    2007: Caron Butler, Kevin Garnett
    2008: Jameer Nelson, Chris Bosh
    2009: Kobe Bryant, Chris Paul
    2010:
    2011: Joe Johnson
    2012: Rajon Rondo
    2013: 
    2014: Dywane Wade, Blake Griffin, Anthony Davis
    2015: Jimmy Butler
    2016: Kevin Love
    2017: Demarcus Cousins, Kristaps Porziņģis, John Wall
    2018: Victor Oladipo
    2019:

In [110]:
all_season_df.iloc[[356, 357, 358, 363, 364, 365, 560, 770, 772, 776, 796,
                    1350, 1572, 1727, 1958, 
                    2106, 2541, 2544, 2562, 2965,  
                    3712, 3713, 3773, 3874,
                    4916,
                    5714, 5727, 5734, 
                    6308, 6318, 6931,
                    7125, 7213, 7217, 7218, 7587, 7592,
                    8242, 8266, 8478, 8525, 8564, 8745, 
                    9117,
                    10427,
                    11494, 11495,], -1] = 1

In [111]:
all_season_df.describe()

,Season,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Height,allstar
count,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11520.000000,11583.000000,11583.000000,...,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000,11583.000000
mean,2009.800397,26.750065,47.019425,22.305707,19.786774,2.944867,6.629984,0.432660,0.581818,1.671709,...,2.537883,3.442459,1.756807,0.619943,0.391151,1.138557,1.788785,7.879979,78.859190,0.044893
std,5.714276,4.244019,26.104142,27.479464,9.919723,2.123137,4.526614,0.101015,0.683252,1.798888,...,1.767289,2.435364,1.752283,0.436054,0.461414,0.778181,0.812860,5.822418,3.609708,0.207079
min,2000.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.000000,0.000000
25%,2005.000000,23.000000,24.000000,0.000000,11.700000,1.300000,3.100000,0.394000,0.000000,0.100000,...,1.300000,1.700000,0.500000,0.300000,0.100000,0.600000,1.200000,3.400000,76.000000,0.000000
50%,2010.000000,26.000000,51.000000,8.000000,19.100000,2.400000,5.500000,0.435000,0.300000,1.100000,...,2.200000,2.900000,1.200000,0.500000,0.200000,1.000000,1.800000,6.400000,79.000000,0.000000
75%,2015.000000,30.000000,72.000000,41.000000,27.800000,4.100000,9.200000,0.478000,1.000000,2.800000,...,3.300000,4.600000,2.300000,0.900000,0.500000,1.500000,2.400000,11.100000,82.000000,0.000000
max,2019.000000,44.000000,85.000000,83.000000,43.700000,12.200000,27.800000,1.000000,5.100000,13.200000,...,12.000000,18.000000,12.800000,2.900000,6.000000,5.700000,6.000000,36.100000,90.000000,1.000000

In [113]:
all_season_df.to_csv(sys.path[-1]+'/all_season.csv')